<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mapper.ChartMapper">
    <insert id="insertChartId" parameterType="com.tencent.model.ChatInfo">
            insert into chat_info values (#{chartId},#{createTime})
    </insert>
    <select id="selectAllChartIdList" resultType="String">
            select chat_id from chat_info order by create_time
    </select>

    <delete id="deleteById" parameterType="String">
            delete from chat_info where chat_id=#{arg0}
    </delete>
</mapper>
