<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mapper.TokenMapper">
    <!--查询token -->
    <select id="getToken" resultType="com.tencent.model.AccessToken">
        SELECT
        *
        FROM access_token
    </select>
    <update id="setToken" parameterType="com.tencent.model.AccessToken">
        update access_token SET token=#{token},time=#{time} where corp_id=#{corpId} AND corp_secret=#{corpSecret}
    </update>
</mapper>
