<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.mapper.UserListMapper">
    <insert id="UpdateList" parameterType="com.tencent.model.UserListTemport">
     insert into user_list values(#{userid},#{name},#{department},#{mobile})
  </insert>
    <delete id="deleteAll">
      delete from user_list
    </delete>
    <select id="select" parameterType="String" resultType="com.tencent.model.UserListTemport">
     select * from user_list where name like  '%${name}%' and mobile like  '%${mobile}%'
     <if test="param3!=null and param3!=''">
     and department=#{param3}
     </if>
        order by department
    </select>
</mapper>
